.App {
  text-align: center;
  border: 10px double rgb(255, 255, 255);
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #382f2f69;
}
.Codername{
  color: rgb(56, 41, 70);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: #0c040433;
  color:whitesmoke   ;
}
.divone{
  width: "15em";
  background-color: "#35D841";
  padding: 2;
  border-radius: 10;
}
.para{
  font-size: 10px;
  color: 'white'
}

td{
  margin-left: 0px;
border: 1px solid blue;
width: 150px;
padding: 10px;
}
table{
  display: flex;
  gap: 1px;
  background-color: black;
  color: beige;
  font-size: 20px;
  margin-top: 20px;
}
.imge{
  width: 40px;
  height: 40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button{
  padding: 20px;
  margin-left: 250px;
}